  button.button {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    position: relative;
    letter-spacing: 0.15em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: transparent;
    outline: none;
    font-size: 28px;
    color: #3e3e3e;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
  }
  button.button::after, button.button::before {
    border: 0;
    content: "";
    position: absolute;
    height: 40%;
    width: 10%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2;
    border-radius: 50%;
  }
  


  button.button::before {
    border: 0;
    background-color: #cb6cec;
    top: -0.75rem;
    left: 0.5rem;
    animation: topAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55)
     0.25s infinite alternate;
  }
  button.button::after {
    background-color: #cb6cec;
    top: 3rem;
    left: 13rem;
    animation: bottomAnimation 2s cubic-bezier(0.68, -0.55, 0.265, 1.55)
     0.5s infinite alternate;
  }
  button.button:hover {
    color: white;
  }
  button.button:hover::before, button.button:hover::after {
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
    animation: none;
  }


  
  button.button:hover::after {
    left: 0rem;
  }
  
  button.button:hover::before {
    top: 0.5rem;
    left: 0.35rem;
  }


  @keyframes topAnimation {
    from {
      transform: translate(0rem, 0);
    }
    to {
      transform: translate(0rem, 3.5rem);
    }
  }
  @keyframes bottomAnimation {
    from {
      transform: translate(-11.5rem, 0);
    }
    to {
      transform: translate(5rem, 0);
    }
  }






  * {
    box-sizing: border-box;
  }
  body, html {
    height: 100%;
  }
  body {
    font-family: "Lato", sans-serif;
    color: #3e3e3e;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .container {
    width: auto;
    margin: auto;
  }
  